name: flutter3_abc
description: "A flutter3_abc package."
version: 0.0.1
homepage: https://github.com/angcyo/Flutter3Abc
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

environment:
  sdk: '>=3.6.0 <4.0.0'
  flutter: ">=1.17.0"

# https://dart.dev/tools/pub/workspaces/
# Support for pub workspaces was introduced in Dart 3.6.0.
resolution: workspace

dependencies:
  flutter:
    sdk: flutter
  flutter3_basics:
    path: ../../Flutter3Core/flutter3_basics
  flutter3_fonts:
    path: ../../Flutter3Core/flutter3_fonts
  flutter3_app:
    path: ../../Flutter3Core/flutter3_app
  flutter3_canvas:
    path: ../../Flutter3Core/flutter3_canvas

  flutter3_excel:
    path: ../../Flutter3Core/flutter3_excel
  flutter3_code:
    path: ../../Flutter3Core/flutter3_code
  flutter3_webview:
    path: ../../Flutter3Core/flutter3_webview
  flutter3_scanner:
    path: ../../Flutter3Core/flutter3_scanner
  flutter3_shelf:
    path: ../../Flutter3Core/flutter3_shelf
  flutter3_notification:
    path: ../../Flutter3Core/flutter3_notification

  flutter3_pub_core:
    path: ../../Flutter3Core/flutter3_pub_core

  flutter3_three_js:
    path: ../../Flutter3Core/flutter3_three_js

  lp_device:
    path: ../../Flutter3Extend/lp_device
  lp_canvas:
    path: ../../Flutter3Extend/lp_canvas
  lp_plugin:
    path: ../../Flutter3Extend/lp_plugin

  # https://pub.dev/packages/xpath_selector_html_parser
  # https://pub.dev/packages/xpath_selector
  # https://pub.dev/packages/html
  xpath_selector_html_parser: ^3.0.1
  # https://pub.dev/packages/xpath_selector
  xpath_selector: ^3.0.2
  # https://pub.dev/packages/html
  # https://pub.dev/packages/source_span
  # https://pub.dev/packages/csslib
  html: ^0.15.5

  # https://pub.dev/packages/multicast_dns
  multicast_dns: any #in lp_device

  # https://pub.dev/packages/web_socket_channel
  web_socket_channel: any #in flutter3_shelf


#dependency_overrides:
#  # Because flutter_html 3.0.0-beta.2 depends on csslib ^0.17.2 and no versions of flutter_html match >3.0.0-beta.2 <4.0.0, flutter_html ^3.0.0-beta.2 requires csslib ^0.17.2.
#  #And because html >=0.15.5 depends on csslib ^1.0.0, html >=0.15.5 is incompatible with flutter_html ^3.0.0-beta.2.
#  csslib: ^1.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  # in flutter3_basics
  flutter_lints: any
  # in flutter3_res
  intl_utils: any
  build_runner: any
  json_serializable: any
  flutter_gen: any
  flutter_gen_runner: any

# https://pub.dev/packages/flutter_gen#configuration-file
# dart run build_runner build
# flutter pub run build_runner build
flutter_gen:
  output: lib/assets_generated/ # Optional (default: lib/gen/)
  parse_metadata: true
  assets:
    outputs:
      package_parameter_enabled: true
      directory_path_enabled: true
  integrations:
  #flutter_svg: true

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:

  # To add assets to your package, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg
  #
  # For details regarding assets in packages, see
  # https://flutter.dev/to/asset-from-package
  #
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/to/resolution-aware-images

  # To add custom fonts to your package, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts in packages, see
  # https://flutter.dev/to/font-from-package

  assets:
    - assets/png/
    - assets/web/
    - assets/svg/